{% extends 'base.html' %}
{% load static %}

{% load i18n %}
{% load thumbnail %}

{% block content %}


{% comment %} Circle == Room . A room for similar minds {% endcomment %}


{% comment %} Circle {% endcomment %}
<h1>
    {{circle}}

    {% if circle.ConfidentialRoom_score %}
    <small>
        <span class="badge bg-primary rounded-pill" data-bs-toggle="tooltip" data-bs-placement="left"
            title="{% translate 'Companionship score' %}">
            {{ circle.ConfidentialRoom_score }}

        </span>
    </small>
    {% endif %}



    {% comment %} organizers {% endcomment %}



    {% comment %} If user is creator so they have choice to edit the circle/Room {% endcomment %}
    {% if user in circle.organizers %}

    <a class="btn btn-outline-primary btn-sm rounded-circle" href="{% url 'circle-update' circle.id %}"
        title="{% translate 'Edit Circle' %}">
        <i class"bi bi-pencil"> Edit </i>

    </a>


    {% endif %}
    
</h1>


{% comment %} Activity in a circle {% endcomment %}

<div class="row">
    <div class="col col-md-7">

        {% comment %} Add New Activity {% endcomment %}
        <h2>
            <i class="bi bi-calendar3"></i>
            {% translate "Upcoming activities" %}
            <button type="button" class="btn btn-sm btn-outline-primary rounded-circle" data-bs-toggle="modal"
                data-bs-target="#add-activity-modal" title="{% translate 'Add activity' %}">
                <i class="bi bi-plus-lg">Add activity</i>
            </button>
        </h2>



        {% comment %} List of Activities {% endcomment %}
        {% if circle.upcoming_activities.count %} 

{{circle.upcoming_activities.count}}<br>

{% comment %} {{circle.upcoming_activities}} {% endcomment %}

{% for activity in circle.upcoming_activities%}
{{activity}} <br>
{{activity.note}} <br>
{% include 'circles/circle_activity.html' %}
{% endfor %}



          
            

        {% else %}

            <p>{% translate "No activities found." %}</p>

        {% endif %}


    <!-- Chating Application Here -->
    {% include 'circles/chat.html' %}

    
    </div>

    

    <div class="col-md-5 mt-2">

        <!-- Person photo -->

        {% if circle.photo %}
        <img src="{{ circle.photo|thumbnail_url:'square_thumbnail_400' }}" class="img-fluid img-thumbnail mb-3"
            alt='{% translate "Care group photo" %}' />
        {% endif %}


        
        <!-- Annotated  list -->

        {% comment %} Add New Members  {% endcomment %}
        <h2>
            <i class="bi bi-people"></i>
            {% translate "ConfidentialRoom" %}

            {% if request.user in circle.organizers.all %}
            <button type="button" class="btn btn-sm btn-outline-primary rounded-circle" data-bs-toggle="modal"
                data-bs-target="#add-companion-modal" title="{% translate 'Add Members' %}">
                <i class="bi bi-plus-lg">Add  </i>
            </button>
            {% endif %}
        </h2> 

        <ul class="list-group mb-3">
            {% comment %} {% for companion in circle.annotated_ConfidentialRooms %}
                {% include "circles/circle_companion.html" %}
            {% endfor %} {% endcomment %}
        </ul>

        {% comment %} Applicants List {% endcomment %}

        {% if user in circle.organizers %}

        {% if circle.pending_join_requests.all %}
        <h2>
            <i class="bi bi-people"></i>
            {% translate "Applicants" %}
        </h2>

        <ul class="list-group">
            {% for applicant in circle.pending_join_requests.all %}
                {% include "circles/circle_applicant.html" %}
            {% endfor %}
        </ul>

        {% endif %}
        {% endif %}
    </div>


    {% comment %} For Add Activity in Room/Circle {% endcomment %}
    {% include "circles/circle_add_activity_modal.html" %}


    {% comment %} For Invitation {% endcomment %}
    {% include "circles/circle_invite_modal.html" %}


   
    {% endblock content %}


    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'bootstrap_icons/css/bootstrap_icons.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    {% endblock extra_css %}

    {% block extra_js %}
    <script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script type="text/javascript">
        var clipboard = new ClipboardJS('#copy-invitation-button');

        // TODO: indicate to user that the invitation code was copied,
        // E.g., via a tooltip or toast

        flatpickr('#id_activity_date');
    </script>
    {% endblock extra_js %}